<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1> Success! </h1>
  </div>
  <p> Login Success! Welcome <%= @user_name %>! </p>
  <div data-role="content">
  </div>

</div>